h1 {
    color: red;
    background-color: blue;
    background-image: url('https://png.pngtree.com/background/20230426/original/pngtree-cute-teddy-bear-with-many-flowers-picture-image_2487945.jpg');
}